
@{
    ViewBag.Title = "UnassingCourse";
}

<h2>Unassign All Courses</h2>

<fieldset>
   <form method="post" class="button-center">
        <h3 id="a" style="display:none">Are you sure to Unallocate All Classrooms?</h3>
        <button type="submit" id="clickMeButton" onclick="return  confirm('Do you want to Unassign All Course')" class="btn btn-default btn-lg">Unallocate Course</button><br /><br />
    </form>
</fieldset>